/* Blue */
.text-blue-50{
    color: var(--blue-50)
}

.text-blue-100{
    color: var(--blue-100)
}

.text-blue-200{
    color: var(--blue-200)
}

.text-blue-300{
    color: var(--blue-300)
}

.text-blue-400{
    color: var(--blue-400)
}

.text-blue-500{
    color: var(--blue-500)
}

.text-blue-600{
    color: var(--blue-600)
}

.text-blue-700{
    color: var(--blue-700)
}

.text-blue-800{
    color: var(--blue-800)
}

.text-blue-900{
    color: var(--blue-900)
}



/* Neutral */
.text-white{
    color: var(--neutral-white)
}

.text-neutral-50{
    color: var(--neutral-50)
}

.text-neutral-100{
    color: var(--neutral-100)
}

.text-neutral-200{
    color: var(--neutral-200)
}

.text-neutral-300{
    color: var(--neutral-300)
}

.text-neutral-400{
    color: var(--neutral-400)
}

.text-neutral-500{
    color: var(--neutral-500)
}

.text-neutral-600{
    color: var(--neutral-600)
}

.text-neutral-700{
    color: var(--neutral-700)
}

.text-neutral-800{
    color: var(--neutral-800)
}

.text-neutral-900{
    color: var(--neutral-900)
}



/* Red */

.text-red-50{
    color: var(--red-50)
}

.text-red-600{
    color: var(--red-600)
}
